body{
	padding-top: 50px;
	font-family: "幼圆";
	font-size: 14px;
}
.title{
	font-size: 30px;
	color: #F9F9F9;
	padding-top:100px ;
	padding-bottom: 50px;
}
.touxiang{
	background-color: #cd8df5;
}
.header{
	text-align: center;
	padding-top: 100px;
	padding-bottom: 100px;

}
.header img{
	width: 200px;
	height: 200px;
}
.side-nav{
	position: fixed;
	top: 45%;
	right:3%;
	z-index: 10px;
}
.side-nav a{
	margin-bottom: 0.8em;
	display: block;
	width: 10px;
	height: 10px;
	border: 1px solid #F9F9F9;
	border-radius: 50%;
}
/*解决左右出现滚动条问题*/
.row{
	margin-left:0px;
	margin-right:0px;
}
#introduction{
	padding-bottom: 50px;
	background-color: #ceeff5;
	/*height: 750px;*/
}
.introduction-left{
	
	/*height: 500px;*/
	
}
.introduction-left p{
	font-size: 20px;
}
.introduction-right{
	
	height: 476px;
	
}
.introduction-right-hander{
	font-size: 20px;
	padding-bottom: 30px;
}
.bil{
	position: absolute;
}
.wz img{
	width: 100px;
	height: 100px;
}

#skill{
	background-color: #5BC0DE;
	padding-bottom: 100px;
}
.skill-label{
	display: inline-block;
	width: 90px;
	float: left;
}
.skill-left{
	padding-top: 200px;
	border-left: 1px solid #000000;
	
}
.skill-right{
	padding-top: 50px;
	
}
.skill-right p{
	font-size: 18px;
}
#experience{
	background-color: #A6E1EC;
	padding-bottom: 100px;
	/*height: 750px;*/
}
.expercise-left{
	position: relative;
	background: #FFf;
	padding: 15px 30px;
}
.expercise-left span{
	position: absolute;
	z-index: 1;
	right: -25px;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 30px;
	background: #FFFF00;
	border-radius: 50%;
}
.expercise-right{
	border-left: 3px solid #aaa;
	padding-left: 30px;
	padding-bottom: 100px;
}
#evaluation{
	background-color: #07aff5;
	/*height: 750px;*/
}
.evaluation-main div{
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 150px;
	padding-top: 50px;
	background-color:rgba(123,23,54,0.5);
	height: 300px;
	border-radius: 15px;
	text-align: center;
}
.evaluation-main p{
	color: #F5F5F5;
	font-size: 15px;
}

#show{
	background-color: #9c8df5;
	height: 750px;
}
#contact{
	background-color: #080808;
	padding-top: 50px;
	/*height: 750px;*/
}
.contact{
	height: 40px;
	line-height: 40px;
	text-align: center;
	border: 1px solid #aaa;
	
}
.contact a{
	color: #F5F5F5;
}
.classicon{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0px;
	top: 0;
	color: #FFFFFF;
	opacity: 0;
}
.classicon a{
   color: #FFFFFF;
}
.classicon:hover{	
	opacity: 0.8;
	transform: opacity 0.5s;
	-weblit-transition:opacity 0.5s;
}
#weixin:hover{
	background:#62b900;
}
#qq:hover{
	background: #5BC0DE;
}
#weibo:hover{
	background: #C9302C;
}
#mail:hover{
	background: #5CB85C;
}
#gmail:hover{
	background: #D43F3A;
}
#phone:hover{
	background: #1B6D85;
}
.erweima{
    position:absolute;
    top: 60px;
    z-index: 1;
}
.erweima img{
	width: 200px;
	height: 200px;
	
}
@keyframes move{
   0%{
	  -webkit-transform: rotate(0deg);
	  -moz-transform: rotate(0deg);
	  transform:rotate(0deg);
   }
   25%{
	  -webkit-transform: rotate(30deg);
	  -moz-transform: rotate(0deg);
	  transform:rotate(30deg);
   }
   50%{
	  -webkit-transform: rotate(0deg);
	  -moz-transform: rotate(0deg);
	  transform:rotate(0deg);
   }
   75%{
	  -webkit-transform: rotate(-30deg);
	  -moz-transform: rotate(0deg);
	  transform:rotate(-30deg);
   }
   100%{
	  -webkit-transform: rotate(0deg);
	  -moz-transform: rotate(0deg);
	  transform:rotate(0deg);
   }

}
#bilbili{
	position: absolute;
	z-index: 2;
    animation-name:move;
    animation-duration: 5s;
    animation-timing-function:ease;
    animation-iteration-count:infinite;
}
#jike{
	position: absolute;
	top: 5em;
	left:15em;
	z-index: 1;
    animation-name:move;
    animation-duration: 5s;
    animation-timing-function:ease;
    animation-iteration-count:infinite;
}
#wangyiyun{
	position: absolute;
	top: 10em;
	left: 5em;
	z-index: 1;
    animation-name:move;
    animation-duration: 5s;
    animation-timing-function:ease;
    animation-iteration-count:infinite;
}
#youtube{
	position: absolute;
	top: 20em;
	left: 15em;
	z-index: 1;
    animation-name:move;
    animation-duration: 5s;
    animation-timing-function:ease;
    animation-iteration-count:infinite;
}
#muke{
	position: absolute;
	top: 20em;
	left: 5em;
	z-index: 1;
    animation-name:move;
    animation-duration: 5s;
    animation-timing-function:ease;
    animation-iteration-count:infinite;
}
.show-tab{
	padding: 30px;
}
.show-tab p{
	font-size: 20px;
	color: #F9F2F4;
}
.banquan{
	text-align: center;
	padding-top: 150px;
	padding-bottom: 50px;
	font-size: 15px;
	color: #DFF0D8;
}
